/* GENERAL */
html {
  /* font-size: 22px; */
  width: 100%;
  height: 100vh;
  font-family: avenir;
  font-style: normal;
}

body{
  padding: 0;
  margin: 0;
}

.containerItem--left{
  width: 50%;
  height: 100%;
  padding: 0.5rem;
}

.containerItem--right{
  width: 50%;
  height: 100%;
  padding: 0.5rem;
}

.textLeft{
  text-align: left;
}

.textRight{
  text-align: right;
}

.text--big{
  font-size: 2rem;
}

.bold{
  font-weight: bolder;
}

.floatRight{
  float: right;
}

.primaryButton{
  border: solid #424A9F 2px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  text-decoration: none;
  background-color: #424A9F;
  box-shadow: 0.3rem 0.3rem #424A9F;
  color:white;
}

.secondaryButton{
  border: solid #424A9F 2px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-shadow: 0.3rem 0.3rem #424A9F;
  text-decoration: none;
  color: #424A9F;
  font-style: bold;
}

.vacation{
  border: solid #424A9F 2px;
  box-shadow: 0.5rem 0.5rem #424A9F;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.vacation__link{
  text-decoration: none;
  font-weight: bold;
  color: #424A9F;
}


.hide{
  display: none;
}
.blue{
  color: #424A9F;
}

.white{
  color: white;
}

.red{
  color: #F8A593;
}

.bg--red{
  background-color: #F8A593;
}

.bg--blue{
  background-color: #424A9F;
}

.navAdd{
  width: auto;
  height: 100%;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  margin-top: -3rem;
  border: white 0.3rem solid;
}

.progressbar{
  width: 100%;
  height: 2rem;
  background-color: white;
  border: #424A9F 0.1rem solid;
}