.home--welcome {
  display: flex;
  flex-flow: column;
  padding: 1rem 0;
}

.home--welcome p, h1{
  margin: 0;
  padding-bottom: .5rem;
}

.dashboardTabs {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.dashboardTab--selected {
  background-color: white;
  border: .2rem solid white;
  border: none;
  padding: .7rem;
  font-weight: bold;
  margin: 5rem .5rem;
}

.dashboardTab {
  border: .15rem solid #424A9F;
  text-align: center;
  padding: .7rem;
  margin: .2rem .5rem;
}
.dashboard__grid{
  display: grid;
  height: 100vh;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 0.5fr 0.5fr 3fr 0.5fr;
  }
  
  .dashboardIntro{
  grid-column: 1 / span 5;
  padding: 1rem 1rem 0rem 1rem;
  }
  
  .dashboardIntro p{
  margin-top: -0.5rem;
  }
  
  .dashboardTabs{
  grid-column: 1 / span 5;
  display: flex;
  margin: 0 ;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 2rem;
  }
  
  .dashboardTab{
  border-top: 0.1rem #424A9F solid;
  border-left: 0.1rem #424A9F solid;
  border-right: 0.1rem #424A9F solid;
  margin: 0rem 1rem 0rem 1rem;
  padding: 0rem 1rem 0rem 1rem;
  }
  
  .dashboardTab--selected{
  border: 2px white solid;
  background-color: white;
  font-weight: bold;
  }
  
  .dashboardList{
  grid-column: 1 / span 5;
  margin: 1rem;
  }
  
  .navigation{
  grid-column: 1 / span 5;
  padding: 1rem;
  text-align: center;
  vertical-align: middle;
  }
  .navHome{
  grid-column: 1;
  }
  .navRules{
  grid-column: 2;
  }
  
  .navAdd{
  grid-column: 3;
  }
  .navGuide{
  grid-column: 4;
  }
  
  .navProfile{
  grid-column: 5;
  }
  .navRules a, .navGuide a, .navProfile a, .navAdd a{
  color: white;
  }