.onboarding1 {
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.onboarding2 {
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.onboarding3 {
  margin-top: 15%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.onboarding_image{
  margin-top: 10%;
}

.onboarding_dots {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40%;
}

.startbutton-onboarding {
  border: solid black 2px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-shadow: 0.3rem 0.3rem black;
  text-decoration: none;
  color: black;
}

.onboarding-button{
  margin-top: 15%;
  display: flex;
  justify-content: center;
}