/* PHOTOEDITOR CSS */
/* ----------------- */

/* the responsive grid */
.photoEditor__grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.2fr 1fr 0.1fr 0.3fr;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/* container which contains 2 divs inside */
/* menu container */
.menuContainer{
  grid-column: 1 / span 3;
  display: flex;
  padding: 1rem;
}

/* photo container */
.photoContainer{
  grid-column: 1 / span 3;
  background-color: #424A9F;
}

/* options container */
.optionsContainer{
  grid-column: 1 / span 3;
  height: auto;
  background-color: white;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  position: relative;
  -webkit-overflow-scrolling: touch;
  
  padding-bottom: 0.5rem;
  margin: 0;
  border-top: #424A9F 0.5rem solid;
}

/* sticker */
.stickerContainer{
  width: 4rem;
  height: auto;
  float: none;
  display: inline-block;
  zoom: 1;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

.sticker{
  width: 100%;
  height: auto;
}

.textItem{
  color: #424A9F;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: auto;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

/* canvas */
.cs{
  width: 100%;
  height: auto;
  margin-top: 1rem;
}

/* option menu */
.editOption{
  border: #424A9F solid 2px;
  background-color: #F8A593;
  color: white;
  padding: 1rem;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  line-height: auto;
}

.editOption--checked{
  background-color: white;
  color: #424A9F;
}

.editOption--left{
  grid-column: 1;
}

.editOption--middle{
  grid-column: 2;
}

.editOption--right{
  grid-column: 3;
}

.textEdit{
  grid-column: 1 / span 3;
  grid-row: 2;
}

.titleContainer{
  grid-column: 1 / span 3;
  text-align: center;
}

.photoEditorPart2__grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.2fr 0.2fr 0.1fr 1fr 0.4fr;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.titleContainer{
  grid-column: 1 / span 3;
  text-align: center;
}

.imgEditContainer{
  grid-column: 1 / span 3;
  text-align: center;
}

.descriptionContainer{
  grid-column: 1 / span 3;
}

.descArea{
  width: 80%;
  height: 8rem;
  outline: none;
  resize: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.editCardForm{
  grid-column: 1 / span 3;
  grid-row: 1 / span 6;
}

.drawItems{
  display: flex;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0.5rem 0 0;
  color: #424A9F;
}

.drawItems--height{
  height: 0;
}

.brush{
  height: 100%;
  margin: 0;
  text-align: center;
  border-left: #424A9F 2px solid; 
  vertical-align: center;
}

.eraser{
  height: 100%;
  margin: 0;
  text-align: center;
  border-right: #424A9F 2px solid; 
  vertical-align: center;
}