.startimage--review {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.reviewpage {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.reviewpage1--intro {
  border: solid #424A9F 2px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  box-shadow: 0.3rem 0.3rem #424A9F;
  text-decoration: none;
  color: #424A9F;
  background-color: white;
}

.startreview-button{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.review--title {
  border: 3px solid #F8A593;
  text-align: center;
  width: 80%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.review--image {
  box-shadow: 0.3rem 0.3rem #DADADA;
  margin-top: 10%;
  margin-bottom: 10%;
}

.my-images img {
  width: 80%;
}

.review--description {
  border: 3px solid #F8A593;
  padding: 1rem 0rem;
}

.despription--test {
  padding-right: 3rem;
}

.my-descriptions {
  text-align: center;
}

.review--page--box {
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.unique--review--title {
  font-size: 1.2rem;
  color: #F8A593;
  margin-left: 5%;
  margin-top: -2%;
}

.tns-nav {
  display: none;
}