@import './css/algemeen.css';
@import './css/photoeditor.css';

/* START SARAH CSS */

.navigation, .tabs, .participant__list {
  display: flex;
  justify-content: space-around;
}

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

h1, h2 {
  font-size: 20px;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.plus {
  color: black;
  font-size: 48px;
}

.participant {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.participant__list {
justify-items: center;
}

.close {
  position: absolute;
  font-size: 25px;
  right: 20px;
}

img{
  object-fit: cover;
  height: 300px;
  width: 300px;
} 

.characterCardForm__img {
  visibility: hidden;
}

.tab {
  display: none;
}

.charactercard__name {
  display: flex;
  flex-flow: row;
  align-items: baseline;
}

