@import './css/algemeen.css';
@import './css/photoeditor.css';
@import './css/home.css';
@import './css/station.css';
@import './css/quizmaster.css';
@import './css/vacationoverview.css';
@import './css/ownerstation.css';

/* START SARAH CSS */

.navigation, .tabs, .participant__list {
  display: flex;
  justify-content: space-around;
}

.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

h1, h2 {
  font-size: 20px;
}





